<div class="ptd-viewport row">
    <div class="record-view-viewport">
        <div class="success"></div>
        <div class="error"></div>
    </div>
    <div class="record-edit-viewport" style="display:none">
        <div class="success"></div>
        <div class="error"></div>
    </div>
</div>

{{{initBlock "gpii.ul.hasUserControls" "gpii.ptd.api.frontend.record"}}}