<div class="ptd-viewport">
    {{>search-navigation}}
    <div class="row ptd-viewport">
        <div class="loading">Loading...</div>
    </div>
    <div class="row ptd-search-nav-footer"></div>
</div>
