<div class="row ptd-link-container">
    <div class="column small-12">
        <div class="details-heading">Alias Of</div>
        <div class="ptd-parent-picker-container">
            <input type="hidden" name="aliasOf" value="{{record.aliasOf}}"/>
            <a href="/details/{{record.aliasOf}}" target="_blank">{{record.aliasOf}}</a>
        </div>
    </div>
</div>