<div class="row">
    <div class="column medium-8">
        <div class="details-heading">Unique Identifier</div>
    </div>
</div>
<div class="row">
    <div class="column medium-8">
        <div class="uniqueId">
            {{record.uniqueId}}
        </div>
    </div>
    <div class="column medium-4">
        {{> language}}
    </div>
</div>
