{{#if record.termLabel}}
    <div class="row">
        <div class="column small-12">
            <div class="details-heading">Suggested Interface Label</div>
            <div class="ptd-inline">
                {{record.termLabel}}
            </div>
        </div>
    </div>
{{/if}}