{{#if record.valueSpace}}
    <div class="row">
        <div class="column small-12">
            <div class="details-heading">Value Space</div>
            {{record.valueSpace}}
        </div>
    </div>
{{/if}}