{{>record-edit-type}}

<div class="uses-container"></div>

{{>record-aliases}}
{{>record-edit-definition}}
{{>record-edit-termlabel}}
{{>record-edit-valuespace}}
{{>record-edit-defaultvalue}}
{{>record-edit-notes}}
{{>record-edit-status}}
