<div class="row">
    <div class="column small-12">
        <div class="details-heading">Status</div>
        <div class="row">
            <div class="column small-12">
                {{record.status}}
            </div>
        </div>
    </div>
</div>
