<div class="row details-footer">
    <div class="column medium-2 medium-offset-10">
        <button class="button radius record-toggle expand" {{#if user}}{{else}}style="display:none;"{{/if}}>Edit Record</button>
    </div>
</div>