<div class="row details-footer">
    <div class="column medium-8">
        <!-- TODO:  Reenable when we add controls for comments
        <input type="text" id="comment" placeholder="Add comment on entry"/>
        -->
    </div>
    <div class="column medium-2">
        <div class="button radius expand record-edit-cancel record-toggle" tabindex="0">
            Cancel
        </div>
    </div>
    <div class="column medium-2">
        <button class="button radius expand record-edit-save">
            Save Changes
        </button>
    </div>
</div>
