{{#if record.aliasOf}}
    <div class="row ptd-link-container">
        <div class="column small-12">
            <div class="details-heading">Alias Of</div>
            <a href="/api/record/{{record.aliasOf}}" target="_blank">{{record.aliasOf}}</a>
        </div>
    </div>
{{/if}}
