{{#if record.notes}}
    <div class="row">
        <div class="column small-12">
            <div class="details-heading">Notes</div>
            <div class="ptd-inline">
                {{{md record.notes}}}
            </div>
        </div>
    </div>
{{/if}}