{{#if record.definition}}
    <div class="row">
        <div class="column small-12">
            <div class="details-heading">Definition</div>
            <div class="ptd-inline">
                {{{md record.definition}}}
            </div>
        </div>
    </div>
{{/if}}
