<div class="column small-12">
    <div class="details-heading">Uses</div>
    <!-- TODO:  Is this still needed? -->
    <input type="hidden" name="uses" value="{{record.uses}}"/>

    {{>common-list-edit}}
</div>


