<div class="success"></div>
<div class="error"></div>

<div class="details-header">
    {{>record-controls-linkbar}}
    {{>record-view-uniqueid}}
</div>

<div class="details-body">
    {{>record-view-type}}
    {{>record-view-aliasof}}
    {{>record-view-uses}}
    {{>record-aliases}}
    {{>record-view-definition}}
    {{>record-view-termlabel}}
    {{>record-view-valuespace}}
    {{>record-view-defaultvalue}}
    {{>record-view-notes}}
    {{>record-view-status}}
</div>

{{>record-controls-view}}
