<!-- Create a dummy container for uses data, even though we have none. -->
<div class="uses-container" style="display:none;"></div>

{{>record-edit-type}}
{{>record-edit-aliasof}}
{{>record-edit-termlabel}}
{{>record-edit-valuespace}}
{{>record-edit-defaultvalue}}
{{>record-edit-notes}}
{{>record-edit-status}}
