<div class="row">
    <div class="column medium-6">
        <div class="details-heading">Record Type</div>
        <div class="row">
            <div class="column small-12">
                {{record.type}}
            </div>
        </div>
    </div>
</div>