<!DOCTYPE html>
<html>
  <head>
    <title>PTD Documentation</title>

    {{>common-includes}}
  </head>
  <body>
    <!-- include the header -->
    {{> common-header "about"}}

    <div class="body">
        {{{body}}}
    </div>

    {{> common-footer}}
  </body>
</html>
