<html>
    <head>
        <title>Test for "picker" component....</title>

        {{>common-includes}}
        <script src="/testContent/js/picker.js"></script>
    </head>
    <body>
        <div class="row">
            <h2>Testing the "picker" component</h2>
            <p>This page should be served up by an instance of gpii-express with handlebars and its routers (inline, dispatcher) configured.</p>
        </div>

        <hr/>

        <div class="row">
            <h2>Picker with existing data</h2>
            <div class="existing-picker-viewport"></div>
        </div>

        <hr/>

        <div class="row">
            <h2>Picker without existing data</h2>
            <div class="new-picker-viewport"></div>
        </div>

        {{{initBlock "gpii.ul.api.frontend.tests.picker"}}}
    </body>
</html>